<h1> <%= @element.name %> </h1>

<% if @element.featured? %>
<p> This is special element </p>
<% else %>
<p> This is non-special element </p>
<%  end %>

<!-- checking if user is admin -->
<% if params[:admin] == "true" %>
    <!-- toggle the feature of element -->
    <p><%= link_to "Toggle featured", toggle_featured_path(@element) %></p>
<% end %>