<h1> Element Categories </h1>

<ul>
  <% @categories.each do |category| %>
    <li> <%= link_to category.name, category %> (<%= category.elements.count %>) </li>
  <% end %>

  <!-- Element showing special element -->
  <% if session[:vip] %>
       <li>Special Glass Element</li>
  <% end %>

<!-- This is the end -->

</ul>