<h1><%= @category.name %> </h1>

<ul>
  <% @category.elements.each do |element| %>
    <li><%= link_to element.name, element %></li>
  <% end %>
</ul>

<p><%= link_to "Back to Element Categories", categories_path %> </p>